.heap-static {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100vw;
    position: fixed;
    border-collapse: separate;
    border-radius: 7px;
    font-size: 2.5vh;
}

.heap-static ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.heap-static li {
    float: left;
}

.heap-static ul li {
    text-align: left;
    padding-left: 4%;
    padding-top: 2%;
}

.heap-static ul li a {
    text-decoration: none;
    color: whitesmoke;
}