.heap-static {
    background-color: rgba(0,0,0,0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 0;
    margin: 0;
    width: 100vw;
    position: fixed;
    border-collapse: separate;
    /* border-radius: 7px; */
    font-size: 3vh;
    z-index: 3;
}

.heap-static ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.heap-static li {
    float: left;
}

.heap-static ul li {
    text-align: left;
    padding-left: 4%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.heap-static ul li a {
    text-decoration: none;
    color: whitesmoke;
}