:root {
    --font: 'Caveat', cursive;
}

body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: var(--font);
}

.heap-temp {
    padding: 0; 
    margin: 0;
    height: 100%;
}

.wrapper {
    align-items: center;
    padding: 0;
    background-color: wheat; 
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    border-collapse: separate;
    border-radius: 7px;
}

.wrapper .button-container button {
    align-items: center;
    background-color: rgb(42, 42, 131, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font: var(--font);
    font-size: 4vw;
    color: orange;
    height: min(30vh, 100%);
    min-height: 25vh;
    width: min(30vw, 100%);
    min-width: 35vw;
}

.wrapper .button-container {
    padding-top: 7%;
    padding-bottom: 5%;
    min-height: 72vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(1vh + 1vw);
    max-width: 90vw;
    width: calc(100%-20px);
}

.wrapper .button-container button::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(17, 0, 255, 0.4),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

noscript .text {
    padding: 10%;
    text-align: center;
}